@{
    ViewBag.Title = "Home Page";
}

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*background-color: #f5f5f5;*/
        padding: 2px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    h4 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    h6 {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 5px;
        color: #999;
    }

    h2 {
        font-size: 36px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .avatar {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 20px;
    }
</style>



<div class="container my-5 p-5" style="background-color: rgba(252, 254, 253, 0.5);">
    <h4>Full Stack Developer</h4>
    <h6>Created By</h6>
    <h2>Rahima Akter</h2>
    <img src="~/Images/rahima.PNG"class="img-thumbnail" height="200px" width="170px" />

    <div class="p-4 m-2">
        <p>To view the assignment completely, please read the Word documentation</p>
    </div>
</div>











@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@